<!DOCTYPE html>
    <html>
       <head>
           <title> Finstagram </title>
           
           <link rel="stylesheet" href="../../../public/stylesheet/app.css" type="text/css" />
           
       </head> 
        <body>
            <h1 class="love"> Days of the week</h1>
            
            <ul>
                <li>  Monday  </li>
                <li>  Tuesday  </li>
                <li>  Wednesday  </li>
                <li>  Thursday  </li>
                <li>  Friday  </li>
            </ul>
            
            <h2> Today is a good day</h2>
            <ol type="A">
                <li>Because I challenge myself</li>
                <li>Because we have friends</li>
                <li> Because we love our job </li>
            </ol>
        </body>
        <footer>
            
        </footer>
        
        
    </html>
    
    
    
</DOCTYPE>